@model lanews.Models.Article

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Article</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="StatusId" class="control-label"></label>
                <select asp-for="StatusId" class="form-control" asp-items="ViewBag.StatusId"></select>
                <span asp-validation-for="StatusId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreationDate" class="control-label"></label>
                <input asp-for="CreationDate" class="form-control" />
                <span asp-validation-for="CreationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModificationDate" class="control-label"></label>
                <input asp-for="ModificationDate" class="form-control" />
                <span asp-validation-for="ModificationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HeadLine" class="control-label"></label>
                <input asp-for="HeadLine" class="form-control" />
                <span asp-validation-for="HeadLine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubHeading" class="control-label"></label>
                <input asp-for="SubHeading" class="form-control" />
                <span asp-validation-for="SubHeading" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lead" class="control-label"></label>
                <input asp-for="Lead" class="form-control" />
                <span asp-validation-for="Lead" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Body" class="control-label"></label>
                <input asp-for="Body" class="form-control" />
                <span asp-validation-for="Body" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AutorId" class="control-label"></label>
                <select asp-for="AutorId" class="form-control" asp-items="ViewBag.AutorId"></select>
                <span asp-validation-for="AutorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReadCount" class="control-label"></label>
                <input asp-for="ReadCount" class="form-control" />
                <span asp-validation-for="ReadCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FeaturedImageUrl" class="control-label"></label>
                <input asp-for="FeaturedImageUrl" class="form-control" />
                <span asp-validation-for="FeaturedImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FeaturedImageCaption" class="control-label"></label>
                <input asp-for="FeaturedImageCaption" class="form-control" />
                <span asp-validation-for="FeaturedImageCaption" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FeaturedImageAlt" class="control-label"></label>
                <input asp-for="FeaturedImageAlt" class="form-control" />
                <span asp-validation-for="FeaturedImageAlt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WhereLine" class="control-label"></label>
                <input asp-for="WhereLine" class="form-control" />
                <span asp-validation-for="WhereLine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
