@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<footer>
    <div class="content-wrapper container centered-content">
        <section class="the-company">
            <h3 class="footer=logo">LA NEWS</h3>
            <p>
                Lorem ipsum dolor sit Et sed nam corrupti ipsam earum corrupti ipsam
                earum.
            </p>
        </section>
        <section class="news-sections">
            <h3 class="section-title">About us</h3>
            <ul class="news-section-list">
                <li>
                    <a asp-controller="Home" asp-action="About" class="news-section-link">History</a>
                </li>
                <li>
                    <a asp-controller="Home" asp-action="About" class="news-section-link">Mission, vision and values</a>
                </li>
                <li>
                    <a asp-controller="Home" asp-action="About" class="news-section-link">Our team</a>
                </li>
            </ul>
        </section>
        <section class="news-sections">
            <h3 class="section-title">News sections</h3>
            <ul class="news-section-list">
                <li>
                    <a href="#" class="news-section-link">Politics</a>
                </li>
                <li>
                    <a href="#" class="news-section-link">Business</a>
                </li>
                <li>
                    <a href="#" class="news-section-link">Health</a>
                </li>
                <li>
                    <a href="#" class="news-section-link">Entertainment</a>
                </li>
                <li>
                    <a href="#" class="news-section-link">Sports</a>
                </li>
            </ul>
        </section>
        <section class="news-sections">
            <h3 class="section-title">Follow us</h3>
            <ul class="news-section-list">
                <li>
                    <a href="#" class="news-section-link">Facebook</a>
                </li>
                <li>
                    <a href="#" class="news-section-link">Twitter</a>
                </li>
                <li>
                    <a href="#" class="news-section-link">Instagram</a>
                </li>
                <li>
                    <a href="#" class="news-section-link">Youtube</a>
                </li>
            </ul>
        </section>
        <div class="copy">
            <p>
                Copyright © 2020 LA NEWS LLC <br />
                All rights reserved.
            </p>
        </div>
        <a class="go-to-top" href="#top"><span>^</span></a>
    </div>
</footer>